# rust
/target
/examples/target
**/*.rs.bk

# ide
.vscode/*
*.iml
.idea/*

# mesh files
*.vtk
*.vtu
*.mesh
*.meshb
*.part
*.weight
*.weights

# trace files
*.json

# flamegraphs
perf.data
perf.data.old
*.svg

# coverage
*.profraw
*.profdata

# generated man pages
tools/doc/*.1
