# rust
/target
/examples/target
**/*.rs.bk

# ide
.vscode/*
*.iml
.idea/*

# mesh files
*.vtk
*.vtu
*.mesh
*.meshb
*.part
*.weight
*.weights

# trace files
*.json

# flamegraphs and efficiency graphs
perf.data
perf.data.old
*.svg
*.png
*.csv

# coverage
*.profraw
*.profdata

# generated man pages
tools/doc/*.1

# generated documentation
/build
/ffi/build

# num-part's SQLite databases
*.db
