name: Continuous integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  BINDGEN_EXTRA_CLANG_ARGS: "-I/usr/include/scotch" # ubuntu package use <scotch/scotch.h>

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Install dependencies
        run: sudo apt-get -y install libclang-dev libmetis-dev libscotch-dev
      - name: Run tests
        run: cargo test --all

  fmt:
    name: Format
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: Check format
        run: cargo fmt --all --check
      - uses: docker://docker.io/tamasfe/taplo:latest
        with:
          args: fmt --check --diff

  clippy:
    name: Lints
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Install dependencies
        run: sudo apt-get -y install libclang-dev libmetis-dev libscotch-dev
      - name: Run clippy
        run: |
          cargo clippy --all-targets -- \
              -D warnings \
              -D clippy::cargo_common_metadata \
              -D clippy::negative_feature_names \
              -D clippy::redundant_feature_names
  build:
    name: Builds
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Install dependencies
        run: sudo apt-get -y install libclang-dev libmetis-dev libscotch-dev
      - name: Build crates
        run: cargo build --all-targets
