name: Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  coverage:
    runs-on: ubuntu-latest
    if: startsWith(github.head_ref, 'dependabot') == false # do not run if the PR is a dependency update from the bot
    steps:
      # checkout
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      # install requirements
      - uses: dtolnay/rust-toolchain@stable
        run: rustup component add llvm-tools-preview
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: ./coverage.sh
        # upload results
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
          slug: LIHPC-Computational-Geometry/coupe
